 body {
      font-family: Arial, sans-serif;
      background-color: #f8f9fa;
    }

    .product-container {
      display: flex;
      flex-wrap: wrap;
      margin: 50px auto;
			max-width: 1000px;
      background-color: white;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      border-radius: 10px;
    }

    .product-image {
			text-align: center;
			flex-grow: 1;
      background-color: #f0f0f0;
    }

    .product-image img {
      max-width: 790px;
      height: 500px;
			object-fit: contain;
    }

    .product-details {
      width: 300px;
      padding: 30px;
    }

    .product-title {
      font-size: 2em;
      margin-bottom: 10px;
    }

    .product-price {
      font-size: 1.5em;
      color: #007bff;
      margin-bottom: 15px;
    }

    .product-description {
      font-size: 1em;
      color: #555;
      margin-bottom: 30px;
    }

    .product-info {
      font-size: 1em;
      color: #555;
    }

    .add-to-cart {
      padding: 12px 25px;
      background-color: #28a745;
      color: white;
      border: none;
      font-size: 1em;
      border-radius: 5px;
      cursor: pointer;
    }

    .add-to-cart:hover {
      background-color: #218838;
    }